body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.left {
    background-color: aquamarine;
    width: 50%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;

}

.left .container {
    margin-left: 50px;
    margin-top: 50px;
}

.button {
    width: 70px;
    padding: 20px;
    border:solid black;
    border-radius: 100px;
    text-align: center;
    font-weight: 700;
}

.state1,
.state2,
.state3,
.state4,
.state5 {
    display: none;
}

body.body-state1 .state1 {display: block;}
body.body-state2 .state2 {display: block;}
body.body-state3 .state3 {display: block;}
body.body-state4 .state4 {display: block;}
body.body-state5 .state5 {display: block;}



.right {
    background: linear-gradient(black 5%, rgb(69, 69, 156));
    position: fixed;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
}

.ground {
    position: absolute;
    height: 20px;
    width: 100%;
    background-color: green;
    bottom: 0;
    right: 0;
}

body.body-state1 .rocket {
    transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket {
    position: absolute;
    background-color: red;
    height: 100px;
    width: 20px;
    left: 50%;
    bottom: 1000px;
}

.rocket {
    position: absolute;
    background-color: red;
    border-radius: 10px 10px 5px 5px;
    height: 100px;
    width: 20px;
    bottom: 20px;
    left: 50%;    
    /* transition-duration: 10s; */
    transition: bottom 5s;
}

